.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.viewportElement{
  height: 600px;
  width: 100%;
}


.form-input{
  background-color: #FFF;
  z-index: 999;
  top: 0px;
  left: 100px;
  position: absolute;
  border: 1px solid #CCC;
}
.annotation-editor{
  display: table;
  border-collapse: collapse;
}

.form-input_close{
  position: absolute;
  background-color: cadetblue;
  border: 1px solid #0CF;
  right: -12px;
  top: -12px;
  width: 20px;
  text-align: center;
  color: #FFF !important;
  border-radius: 50%;
  font-size: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}

.form-input_close:hover{
  background-color: rgb(57, 68, 68);
}

.annotation-editor-header{
  font-size: 15px;
}

.annotation-editor_row{
  display: table-row;
}

.annotation-editor_col{
  display: table-cell;
  padding: 0.1em 0.6em;
  border: 1px solid #000000;
  vertical-align: middle;
  font-size: inherit;
}